<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Insert Data</h3>
            <form action='/insert' method='POST' enctype="multipart/form-data">
       
                <label>Name</label>
                <div class='form-group'>
                <input type='text' name='name' id='name' class="form-control" required> 
                <div class='alert alert-danger invalid-feedback' role='alert' id='error-group' style='display:none'> {{#if errors}}  {{error}} {{/if}}</div>
                </div>

                <label>Email</label>
                <div class='form-group'>
                <input type='email' name='email' id='email' class="form-control" required>
                <div class='alert alert-danger invalid-feedback' role='alert' id='error-group' style='display:none'> {{#if errors}}  {{error}} {{/if}}</div>
                </div>

                <label>Mobile Number</label>
                <div class='form-group'>
                <input type='text' name='mobile_number' id='mobile_number' class="form-control" required>
                <div class='alert alert-danger invalid-feedback' role='alert' id='error-group' style='display:none'> {{#if errors}}  {{error}} {{/if}}</div>
                </div>

                <label>Image</label>
                <div class='form-group'>
                <input type='file' name='image' id='image' class="form-control-file" required>
                </div>

                <div class='form-group'>
                <button type='submit' class='btn btn-primary'>Submit</button>
                </div>
            </form>
            </div>
    </div>
</div>

