    <div class="container">
            <div class="col-md-center">CRUD View</div>
            <div><button class='btn btn-success'><a style='color:black' href='/add_data'>Add Data</a></button>
             <button class='btn btn-success'><a style='color:black' href='/mail'>Send Mail</a></button></div>
          
      <div class="row">
        <div class="col-sm-12">
            

            <table class="table">
                <tr>
                    <td>Name</td>
                    <td>Email</td>
                    <td>Mobile Number</td>
                    <td>Image</td>
                </tr>
              {{#each results}}
                  <tr>
                    <td>{{ name }}</td>
                    <td>{{ email }}</td>
                    <td>{{ mobile_number }}</td>
                    <td><img src='../images/{{ image }}' height='50' width='50'></td>
                    {{!-- <td><img src="../images/image-1555059094204.png" height="42" width="42"></td> --}}
                    <td><button class='btn btn-primary' ><a style='color:black' href='/viewupdate/{{id}}'>EDIT</a></button></td>
                    <td><button class='btn btn-danger'><a style='color:black' href='/delete/{{id}}'>DELETE</a></button></td>
                </tr>
              {{/each}}
            </table>
          
        </div>
      </div>
    </div>

