<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Send Mail</h3>
            <form action='/sendmail' method='POST'>

                <label>To</label>
                <div class='form-group'>
                    <input type='text' name='to' id='to' class="form-control" required>
                </div>

                <label>Subject</label>
                <div class='form-group'>
                    <input type='text' name='subject' id='subject' class="form-control" required>
                </div>

                <label>Message</label>
                <div class='form-group'>
                    <textarea name='message' id='message' class="form-control" required rows='4' cols='4'></textarea>
                </div>

                <div class='form-group'>
                    <button type='submit' class='btn btn-primary'>Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>