<div class="container">
      <div class="jumbotron">
          <div class="container">
    <div class="row">
        <div class="col-md-6">
              {{#each result}}          
                <table>
                <div class='form-group'>
               <label>{{this.to}}</label>
                </div>

                <div class='form-group'>
                <label>{{this.subject}}</label>
                </div>

                <div class='form-group'>
                <label>{{this.message}}</label>
                </div>
                </table>
              {{/each}}
            </div>
    </div>
</div>

  
      </div>
</div>