
<div class="container">
    <div class="row">
        <div class="col-md-6">
            {{#each results}}
            <h3>Update Data</h3>
                <form action='/update/{{id}}?_method=PUT' method='POST' enctype='multipart/form-data'>
                    <input type='hidden' name='_method' value='PUT'>
                    <label>Name</label>
                    <div class='form-group'>
                    <input type='text' name='name' id='name' value='{{name}}' class="form-control" required>
                    </div>

                    <label>Email</label>
                    <div class='form-group'>
                    <input type='email' name='email' id='email' value='{{email}}' class="form-control" required>
                    </div>

                    <label>Mobile Number</label>
                    <div class='form-group'>
                    <input type='number' name='mobile_number' id='mobile_number' value='{{mobile_number}}' class="form-control" required>
                    </div>

                    <label>Photo</label>
                    <div class='form-group'>
                    <input type='file' name='image' id='image' class="form-control-file" value='{{image}}'><img src='../images/{{image}}' width='30' height='30'>
                    </div>

                    <div class='form-group'>
                    <button type='submit' class='btn btn-primary'>Update</button>
                    </div>
                </form>
            {{/each}}
        </div>
    </div>
</div>

